* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content-header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 18px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 150px;
    align-self: flex-start;
}

.menus {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-right: 150px;
}

.header {
    display: flex;
    padding: 80px;
}

.textB {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
}

.rounded-border {
    /* border: 1px solid #E5E7EB;
    border-radius: 6px; */
    width: 950px;
    height: 250px;
    margin-right: 80px;
    margin-left: 25px;
    color: #E5E7EB;
    background-color: rgb(161, 160, 160);
}

.rounded-border p {
    text-align: center;
    margin-top: 115px;
}

.textB .text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.textB p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.textB button {
    border-radius: 6px;
    border: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 1200;
    width: 130px;
    height: 40px;
}

.text {
    font-weight: 900px;
}

.content-one {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.text-one {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    margin-top: 50px;
}

.frames {
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.frame-oneF {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.frame-twoF {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.frame-threeF {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.frame-fourF {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-quote {
    background-color: #E5E7EB;
    padding: 140px;
    display: flex;
    flex-direction: column;

}

em {
    font-size: 30px;
    align-content: center;
    color: #1F2937;
    margin-left: 50px;
    margin-right: 50px;
}

.content-quote p {
    color: #1F2937;
    align-self: flex-end;
    margin-left: 50px;
    margin-right: 50px;
}

.content-blue {
    background-color: white;
    padding: 100px;
}

.blue-frame {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.blue-frame .texts div {
    font-size: 25px;
    font-weight: bolder;
    color: #F9FAF8;
}

.blue-frame .texts p {
    font-size: 18px;
    color: #E5E7EB;
}

.blue-frame button {
    border-radius: 6px;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    width: 130px;
    height: 40px;
    align-self: center;
}